html {
  background: #f2f2f4;
}
.self-left {
  float: left;
}
.self-right {
  float: right;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}

.control-list {
  margin-bottom: 24px;
}

.content-info {
  background: #fff;
  padding-top: 16px;
  border-radius: 4px;
  overflow: hidden;
  .content-header {
    padding-left: 24px;
    padding-right: 24px;
    .info-name {
      padding-left: 12px;
      font-weight: 600;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
      line-height: 40px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 4px;
        height: 16px;
        background: #4fda5e;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
      }
    }
  }
}

.content-table {
  // margin: 16px 20px;
}

.content-footer {
  height: 64px;
  line-height: 64px;
  border-top: 1px solid #e6e6ea;
  padding: 0 24px;
  .el-button + .el-button {
    margin-left: 16px;
  }
  .page-list {
    & > div {
      height: 28px;
      margin-top: 18px;
    }
  }
  .el-pagination {
    font-weight: 100 !important;
    color: #606266;
  }
}

.td-pop {
  p {
    margin-bottom: 23px;
  }
}

.title-search-form {
  /deep/.el-form-item {
    margin-bottom: 16px;
  }
}

.search-form {
  padding-left: 24px;
  padding-right: 24px;
  .el-button + .el-button {
    margin-left: 16px;
  }
  + .content-table {
    margin-top: 0;
  }
  margin-top: 16px;
  /deep/.el-form-item {
    margin-right: 16px;
  }
  /deep/ .el-form-item {
    margin-bottom: 16px;
  }
  /deep/ .custom-size .el-form-item__content,
  .custom-size .el-select,
  .custom-size .el-autocomplete,
  .custom-size .el-select > .el-input {
    width: 224px;
  }
}

.person-name {
  font-size: 14px;
  line-height: 32px;
  margin-left: 8px;
}
.has-tag {
  margin-bottom: 0;
  .choose-person-btn.el-button {
    height: 40px;
    margin-bottom: 24px;
    overflow: hidden;
  }
  .el-tag {
    height: 40px;
    line-height: 40px;
    margin-right: 16px;
    // margin-bottom: 16px;
    font-size: 14px;
    .el-icon-close {
      top: 0;
    }
  }
}

.person-list {
  margin-bottom: 0;
  .el-tag {
    font-size: 0;
    margin-bottom: 5px;
    .el-icon-close {
      top: -4px;
    }
    .tag-name {
      font-size: 14px;
    }
  }
}

.input-number {
  width: 100px;
  margin-right: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.input-380 {
  width: 380px !important;
}

.el-table__header th {
  color: rgba(0, 0, 0, 0.65);
}

.pri-add-btn {
  .el-icon-circle-plus {
    margin-right: -5px;
    font-size: 14px;
  }
}

$--color-danger: #fd4848;
$--color-info: #0091ff;
$--color-primary: #3642ff;
$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/index";

.el-button--danger.is-plain,
.el-button--info.is-plain {
  background: #fff;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 250px;
}

.el-submenu__title {
  height: 64px;
  line-height: 64px;
}
.el-menu-item:hover,
.el-submenu__title:hover {
  outline: none;
  background: rgba(54, 66, 255, 0.04) !important;
}

.el-menu-item.is-active {
  background: linear-gradient(270deg, rgba(54, 66, 255, 0.08) 0%, rgba(54, 66, 255, 0) 100%);
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    width: 4px;
    height: 32px;
    background: rgba(54, 66, 255, 1);
  }
}

.el-table-column--selection .cell {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.el-form-item__label {
  padding-right: 16px;
}

.el-form-item {
  margin-bottom: 24px;
}

.el-breadcrumb__inner.is-link {
  color: $--color-text-regular;
  font-weight: normal;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: $--color-text-primary;
  font-weight: bold;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: $--color-text-primary;
  font-weight: bold;
}

.el-table {
  .el-table__header-wrapper {
    background: rgba(144, 147, 153, 0.06);
  }
  th {
    padding: 0 !important;
    height: 64px;
    line-height: 64px;
    &:first-child {
      padding-left: 14px !important;
    }
  }
  td {
    height: 48px;
    line-height: 48px;
    padding: 0 !important;
    border-bottom: 1px solid #e6e6ea;
    &:first-child {
      border-bottom: 0 !important;
      padding-left: 14px !important;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 24px;
        right: 0;
        height: 0;
        z-index: 1;
        border-bottom: 1px solid #e6e6ea;
      }
    }
    &:last-child {
      border-bottom: 0 !important;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 24px;
        height: 0;
        z-index: 1;
        border-bottom: 1px solid #e6e6ea;
      }
    }
  }
  tr:last-child {
    td:first-child,
    td:last-child {
      &::after {
        border-bottom: 0;
      }
    }
  }
  th.is-leaf {
    border-bottom: 0 !important;
  }
  &::before {
    background-color: #fff;
  }
  tbody {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 24px;
      right: 24px;
      height: 0;
      z-index: 1;
      // border-bottom: 1px solid #e6e6ea;
    }
  }
  .el-table__fixed-right::before {
    background: #fff;
  }
}

.el-dialog__body {
  padding: 24px 24px 0;
}

.el-textarea__inner {
  padding: 8px 15px;
  font-size: 14px;
}

.el-textarea textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(192, 196, 204, 1);
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.el-tooltip__popper {
  max-width: 95%;
  line-height: 16px;
}
